
    .header {
        margin: 0%;
        padding-top: 45px;
        width: 100vw;
        height: 280px;

        .main-title {
            margin: auto;
            padding: 10px 20px;
            font-size: 5rem;
        }

        .copy-header {
            margin: auto;
            padding: 2px 999px 2px 70px;
        }

        .btn {
            margin: 10px 20px;
            padding: auto;
            border-radius: 20px;
        }
    }



