.container {
    display:flex;
    flex-direction: row;
    margin: 20px 50px;

    .info-container {
       padding: 15px 40px;
        width: 50% ;
    }

}

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 12px;
}
